In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 5.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=c1c3373f9e519ad9014a2f0ddc2cb5451b41e65f18b81c275cc1f770ade5f5a8
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 45 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 155632 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u312-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u312-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [ ]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
import pyspark
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!sleep 10
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2022-06-15 13:09:18--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 52.202.168.65, 54.237.133.81, 54.161.241.46, ...
Connecting to bin.equinox.io (bin.equinox.io)|52.202.168.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  43.8MB/s    in 0.3s

2022-06-15 13:09:19 (43.8 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
https://c60b-35-245-177-130.ngrok.io

Worldcount by maping function(10-06-22)

In [ ]:
from google.colab import files
files.upload()

Saving wordcount.txt to wordcount.txt

{'wordcount.txt': b'lets learn spark\r\nspark is fun\r\nwe are practicing programs\r\n'}

In [ ]:
rdd=spark.sparkContext.textFile("wordcount.txt")

In [ ]:
rdd.collect()

['lets learn spark', 'spark is fun', 'we are practicing programs']

In [ ]:
rdd2=rdd.flatMap(lambda x: x.split(" "))

In [ ]:
rdd2.collect()

['lets',
 'learn',
 'spark',
 'spark',
 'is',
 'fun',
 'we',
 'are',
 'practicing',
 'programs']

In [ ]:
rdd3=rdd2.map(lambda x: (x,1))

In [ ]:
rdd3.collect()

[('lets', 1),
 ('learn', 1),
 ('spark', 1),
 ('spark', 1),
 ('is', 1),
 ('fun', 1),
 ('we', 1),
 ('are', 1),
 ('practicing', 1),
 ('programs', 1)]

In [ ]:
rdd4=rdd3.reduceByKey(lambda a,b: (a+b))

In [ ]:
rdd4.collect()

[('is', 1),
 ('we', 1),
 ('are', 1),
 ('practicing', 1),
 ('programs', 1),
 ('lets', 1),
 ('learn', 1),
 ('spark', 2),
 ('fun', 1)]

In [ ]:
rdd2=rdd.flatMap(lambda x: x.split(" ")).map(lambda x: (x,1)).reduceByKey(lambda a,b: (a+b))

In [ ]:
rdd2.collect()

[('is', 1),
 ('we', 1),
 ('are', 1),
 ('practicing', 1),
 ('programs', 1),
 ('lets', 1),
 ('learn', 1),
 ('spark', 2),
 ('fun', 1)]

Create a dataframe

In [ ]:
data = [("James", "Sales", 3000), 
    ("Michael", "Sales", 4600), 
    ("Robert", "Sales", 4100), 
    ("Maria", "Finance", 3000), 
    ("James", "Sales", 3000), 
    ("Scott", "Finance", 3300), 
    ("Jen", "Finance", 3900), 
    ("Jeff", "Marketing", 3000), 
    ("Kumar", "Marketing", 2000), 
    ("Saif", "Sales", 4100)]
columns= ["employee_name", "department", "salary"]

In [ ]:
df=spark.createDataFrame(data=data, schema= columns)

In [ ]:
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
distinctDF=df.distinct()

In [ ]:
distinctDF.count()

9

In [ ]:
distinctDF.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|      Michael|     Sales|  4600|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|          Jen|   Finance|  3900|
|        Scott|   Finance|  3300|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
dropDisDF=df.dropDuplicates(["department","salary"])
dropDisDF.show()
dropDisDF.count()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

8

In [ ]:
df.orderBy("department","salary").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|        James|     Sales|  3000|
|         Saif|     Sales|  4100|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

In [ ]:
# Using Raw SQL
df.createOrReplaceTempView("EMP")
spark.sql("select employee_name,department,salary from EMP ORDER BY department asc").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Maria|   Finance|  3000|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
|      Michael|     Sales|  4600|
|        James|     Sales|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
+-------------+----------+------+

**Pyspark select:Select single & Multiple columns from PySpark**

In [ ]:
df.select("employee_name").show()

+-------------+
|employee_name|
+-------------+
|        James|
|      Michael|
|       Robert|
|        Maria|
|        James|
|        Scott|
|          Jen|
|         Jeff|
|        Kumar|
|         Saif|
+-------------+

In [ ]:
df.select("employee_name","salary").show()

+-------------+------+
|employee_name|salary|
+-------------+------+
|        James|  3000|
|      Michael|  4600|
|       Robert|  4100|
|        Maria|  3000|
|        James|  3000|
|        Scott|  3300|
|          Jen|  3900|
|         Jeff|  3000|
|        Kumar|  2000|
|         Saif|  4100|
+-------------+------+

PySpark withColumn: withColumn() is a transformation function of DataFrame which is used to change or update the value, convert the datatype of an existing DataFrame column, add/create a new column.

In [ ]:
# change column DataType using PySoark withColumn
from pyspark.sql.functions import col
from pyspark.sql.functions import *

In [ ]:
df2=df.withColumn("salary",col("salary").cast("Integer"))

In [ ]:
df2.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

Update the value of an existing column

In [ ]:
df3=df.withColumn("salary",col("salary")*100)
df3.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|300000|
|      Michael|     Sales|460000|
|       Robert|     Sales|410000|
|        Maria|   Finance|300000|
|        James|     Sales|300000|
|        Scott|   Finance|330000|
|          Jen|   Finance|390000|
|         Jeff| Marketing|300000|
|        Kumar| Marketing|200000|
|         Saif|     Sales|410000|
+-------------+----------+------+

Create a new column from an existing

In [ ]:
df4=df.withColumn("Copief=dColumn",col("salary")* -1)
df4.show()

+-------------+----------+------+--------------+
|employee_name|department|salary|Copief=dColumn|
+-------------+----------+------+--------------+
|        James|     Sales|  3000|         -3000|
|      Michael|     Sales|  4600|         -4600|
|       Robert|     Sales|  4100|         -4100|
|        Maria|   Finance|  3000|         -3000|
|        James|     Sales|  3000|         -3000|
|        Scott|   Finance|  3300|         -3300|
|          Jen|   Finance|  3900|         -3900|
|         Jeff| Marketing|  3000|         -3000|
|        Kumar| Marketing|  2000|         -2000|
|         Saif|     Sales|  4100|         -4100|
+-------------+----------+------+--------------+

Add a new column using withColumn

In [ ]:
#df5=df.withcolumn("Country",lit("USA"))
#df5.shema()
#df5.show()

Drop a column from PySpark DataFrame

In [ ]:
df4.drop("Copief=dColumn").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

Rename column

In [ ]:
df.withColumnRenamed("employee_name","emp_name").printSchema()

root
 |-- emp_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

For multiple columns:

In [ ]:
#df2 = df.withColumnRenamed("dob","DateOfBirth") 
#or
#df2 = df.withColumnRenamed("dob","DateOfBirth").withColumnRenamed("salary","salary_amount")
#df2.printSchema()

PySpark Where Filter Function:

In [ ]:
#DataFrame filter() with column condition
df.filter(df.department=="Sales").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        James|     Sales|  3000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
#For multiple conditions:
df.filter((df.department=="Sales")&(df.employee_name=="James")).show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|        James|     Sales|  3000|
+-------------+----------+------+

PySpark Groupby:

In [ ]:
df.groupBy("department").sum("Salary").show()

+----------+-----------+
|department|sum(Salary)|
+----------+-----------+
|     Sales|      18800|
|   Finance|      10200|
| Marketing|       5000|
+----------+-----------+

PySpark Join

In [ ]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]

In [ ]:
empColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary"]

In [ ]:
empDF=spark.createDataFrame(data=emp,schema=empColumns)

In [ ]:
empDF.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [ ]:
empDF.show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [ ]:
dept = [("Finance",10), 
    ("Marketing",20), 
    ("Sales",30), 
    ("IT",40) 
  ]

In [ ]:
deptColumns = ["dept_name","dept_id"]

In [ ]:
deptDF=spark.createDataFrame(data=dept,schema=deptColumns)

In [ ]:
deptDF.printSchema()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

In [ ]:
deptDF.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [ ]:
# Jion the DataFrames
newDF=empDF.join(deptDF,empDF.emp_dept_id==deptDF.dept_id,"inner")

In [ ]:
newDF.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

In [ ]:
newDF.show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

Pyspark collect:collect() function is used to retrieve all the elements of the dataset

In [ ]:
dept = [("Finance",10), 
    ("Marketing",20), 
    ("Sales",30), 
    ("IT",40) 
  ]

In [ ]:
deptColumns = ["dept_name","dept_id"]

In [ ]:
deptDF=spark.createDataFrame(data=dept,schema=deptColumns)

In [ ]:
deptDF.printSchema()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

In [ ]:
deptDF.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [ ]:

#dataCollect = deptDF.collect() // deptDF.collect() retrieves all elements in a DataFrame as an array to the driver. 
#print(dataCollect)

#for row in dataCollect:
    #print(row['dept_name'] + "," +str(row['dept_id']))

#In case you want to just return certain elements of a DataFrame, you should call select() first.

#dataCollect = deptDF.select("dept_name").collect()

#select() method on an RDD/DataFrame returns a new DataFrame that holds the columns that are selected whereas collect() returns the entire data set.

In [ ]:
# heroassignment
from google.colab import files
dataset=files.upload()

Saving heroes_information.csv to heroes_information.csv

In [ ]:
# Reading data from file
df2=spark.read.csv("heroes_information.csv",header=True)

In [ ]:
# show only top 10 records
df2.show(10)

+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|         name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|       A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|   Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|     Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|  Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|      Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|  Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7| Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|     Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|    Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 10 rows

In [ ]:
# Find the count of male heroes
df2.filter(df2.Gender=="Male").count()

505

In [ ]:
# Find the count of Female heroes
df2.filter(df2.Gender=="Female").count()

200

In [ ]:
# Find the count of the particular race.
df2.groupby("Race").count().show()

+------------------+-----+
|              Race|count|
+------------------+-----+
|          Neyaphem|    1|
|          Symbiote|    9|
|        Kryptonian|    7|
|           Ungaran|    1|
|           Martian|    1|
|         Strontian|    1|
| Human / Radiation|   11|
|   Kakarantharaian|    1|
|         Metahuman|    2|
|Dathomirian Zabrak|    1|
|    Human / Cosmic|    2|
|   Xenomorph XX121|    1|
|            Animal|    4|
|       Frost Giant|    2|
|            Cyborg|   11|
|           Inhuman|    4|
|     God / Eternal|   14|
|    Yoda's species|    1|
|     Icthyo Sapien|    1|
|            Rodian|    1|
+------------------+-----+
only showing top 20 rows